html {
  font-family: 'Noto Serif', serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

em {
  color: #70ad55;
}

button {
  background-color: #6e8c62;
  border-color: #6e8c62;
}

fieldset {
  border-color: rgba(110, 140, 98, 0.3);
}

input,
textarea,
select {
  border: 2px solid #6e8c62;
}

input type checkbox
input type radio {
  border: 2px solid #6e8c62;
}

textarea {
  min-height: 8em;
}
